{% comment %} <h1>{{ question.question_text }}</h1>
<ul>
  {% for choice in question.choices_set.all %}
    <li>{{ choice.choice_text }}</li>
  {% endfor %}
</ul> {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/styles.css' %}" />
<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>
      <h1>{{ question.question_text }}</h1>
    </legend>
    {% for choice in question.choices_set.all %}
      <input type="radio" id="{{ choice.choice_text }}" name="choice" value="{{ choice.id }}" />
      <label for="{{ choice.choice_text }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
  </fieldset>
</form>
